@import url('//cdn.web-fonts.ge/fonts/alk-life/css/alk-life.min.css');

// fonts
$AlkLife: 'ALK Life', sans-serif;

$mobile: 360px;
$l-mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-m: 1366px;
$laptop-l: 1440px;
